<meta charset="utf-8">
<meta name="description" content="mon project perso portfolio et les project que j'ai fait">
<meta name="author" content="serlep sherab wangchuk" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="image/logo.png"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/mainsheet.css">
<title>Serlep sherab</title>
