<label>
  <input type="checkbox">
  <span class="menu">
    <span class="hamburger"></span>
  </span>

  <ul>
    <li>
      <a href="/" id="home">HOME</a>
    </li>
    <li>
      <a href="about" id="about">ABOUT</a>
    </li>
    <li>
      <a href="project" id="project">PROJECT</a>
    </li>
    <li>
      <a href="contact" id="contact">CONTACT</a>
    </li>
  </ul>
</label>
