<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id="overlay">
        <img src="image/preloader.gif" alt="loader-img" id='loading'>
  </div>
  <div id="particles-js">
    <div>
      <% include ../partials/header %>
    </div>
    <!-- particles.js container -->
      <div class="aboutpage">
        <div class="col-md-5">
            <img src="image/picprofile.png" class="img-responsive pic-profile">
        </div>
        <div class="col-md-7">
            <div class="profile">
                <h1>profile</h1>
                <p>Je m'appele serlep sherab wangchuk</p>
                Je suis un web <span>developpeur</span>
                <p>Recherche de contrat pro<br>
                    Hello J'ai 25 ans, J'habite à Paris, Fullstack web developper,
                    <br>Etudiant en premiere annee à EPITECH ( web@cademie ).<br>
                </p>
                <div class="button2">
                  <a href="download/cv.pdf" class="btn-profile btn-responsive">DOWNLOAD MY CV</a>
                </div>
            </div>
        </div>

      <div class="skill">
        <div class="col-md-4">
          <h3>mes competence</h3>
        </div>
        <div class="col-md-8">
          <img src="image/html5.png" alt="html5">
          <img src="image/css3.png" alt="css3">
          <img src="image/angular.png" alt="angular">
          <img src="image/bash.png" alt="bash">
          <img src="image/bootstrap.jpg" alt="bootstrap">
          <img src="image/cakephp.png" alt="cakephp">
          <img src="image/cordova.png" alt="cordova">
          <img src="image/git.png" alt="git">
          <img src="image/jquery.png" alt="jquery">
          <img src="image/js.png" alt="javascript">
          <img src="image/laravel.png" alt="laravel">
          <img src="image/linux.png" alt="linux">
          <img src="image/materializecss.png" alt="materialize">
          <img src="image/mongodb.png" alt="mongodb">
          <img src="image/MySQL.png" alt="mysql">
          <img src="image/nodejs.png" alt="nodejs">
          <img src="image/php7.png" alt="php">
          <img src="image/sailsjs.png" alt="sailsjs">
          <img src="image/socket.gif" alt="socket">
          <img src="image/symfony.png" alt="symfony">
        </div>
      </div>

      <section class="timeline">
        <ul>
          <h4>mon experience</h4>
          <li>
            <div>
              <time>2016</time>
              FORMATION web@cademie (2016-2018)<br>
              formation web pour deux annee
            </div>
          </li>
          <li>
            <div>
              <time>2015</time>
              IVM tech
              assistance technicien(stager)<br>
            </div>
          </li>
        </ul>
      </section>
   
      
    </div>
</div>



<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.js"></script>
<script src="js/timeline.js"></script>


</body>
</html>
