<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id="overlay">
        <img src="image/preloader.gif" alt="loader-img" id='loading'>
  </div>
  <div id="particles-js">
    <div>
      <% include ../partials/header %>
    </div>
    <!-- particles.js container -->
      <div class="homepage">
        <div class="hometitle">
          <h1>Je suis un <span>développeur</span> Full-Stack.</h1>
          <h2>SERLEP SHERAB WANGCHUK</h2>
          <div class="button">
            <a href="project">mes traveux</a>
          </div>
        </div>
      </div>
  </div>

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.js"></script>

</body>
</html>
