<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id="overlay">
        <img src="image/preloader.gif" alt="loader-img" id='loading'>
  </div>
  <!-- particles.js container -->
  <div id="particles-js">
    <div>
      <% include ../partials/header %>
    </div>
      
      <div class="project container">
        <div class="row row-no-padding">
          <div class="col-md-6 blog">
             <a href="#"><img src="image/firstblog.png" class="img-responsive" alt="firstblog"></a>
          </div>
          <div class="col-md-6 blogpost">
            <p>•  MyPaint   HTML5/CSS3, JQuery <br>Application web de boîte à outils pour dessins, type Paint.</p>
            <a href="#" class="btn btn-default">demo</a> <a href="#" class="btn btn-default">git</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col-md-6 blogpost2">
            <p>•  MyMap   JavaScript, JQuery, HTML5/CSS3, GoogleAPI. <br>Réalisation d’un site de calcul d’itinéraires et localisation temps réel.</p>
            <a href="#" class="btn btn-default">demo</a> <a href="#" class="btn btn-default">git</a>
          </div>
          <div class="col-md-6 blog2">
            <a href="#"><img src="image/secondblog.png" class="img-responsive" alt="secondblog"></a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col-md-6 blog3">
            <a href="#"><img src="image/thirdblog.png" class="img-responsive" alt="thirdblog"></a>
          </div>
          <div class="col-md-6 blogpost3">
            <p>• My IRC  Nodejs, Expressjs, Mongodb, Socket.io. <br>>Réalisation d’un site chat.</p>
            <a href="#" class="btn btn-default">demo</a> <a href="#" class="btn btn-default">git</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col-md-6 blogpost4">
            <p>• Icloud  Laravel, HTLM5/CSS3, PhPMyAdmin. <br>>Réalisation d’un site comme google Drive.</p>
            <a href="#" class="btn btn-default">demo</a> <a href="#" class="btn btn-default">git</a>
          </div>
          <div class="col-md-6 blog4">
            <a href="#"><img src="image/forthblog.png" class="img-responsive" alt="fourthblog"></a>
          </div>
        </div>

      </div>
  </div>

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.js"></script>


</body>
</html>
